$c-main: #2F79C3;
$c-main-2: lighten($c-main, 5%);
$c-main-3: lighten($c-main, 10%);
$c-main-text: #FFFFFF;

$c-bg: #FFFFFF;
$c-bg-2: #F0F0F0;
$c-bg-3: #E0E0E0;
$c-text: #404040;
$c-separator: #808080;

$c-canvas-bg: #D0D0D0;

$radius: 5px;